<!DOCTYPE html>
<html>
    <head>
        <title>D.GM.A Lyrics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/lyrics.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    </head>

    <body>
        <section id="content-place">
        <%#button that sends you to the starting page to select a new song%>
        <form action="/" method="GET">
            <input type="submit" class="new-but" value="New Song">
        </form>
        <%#Where the lyrics are being rendered%>
        <h2 class="lyricside">
            <%=content%>
        </h2>
            
        
        </section>
    </body>
</html>